/*
 * Copyright (c) 2026 Kamil Kiełbasa
 * SPDX-License-Identifier: MIT
 *
 * 256 KiB of simulated flash in RAM, 64 blocks of 4 KiB written a word at a
 * time, as on the MX25R64 of the nRF5340 DK.
 */

/ {
	sim_flash: sim_flash {
		compatible = "zephyr,sim-flash";

		#address-cells = <1>;
		#size-cells = <1>;
		erase-value = <0xff>;

		flash_sim0: flash_sim@0 {
			compatible = "soc-nv-flash";
			reg = <0x00000000 DT_SIZE_K(256)>;

			erase-block-size = <4096>;
			write-block-size = <4>;

			partitions {
				compatible = "fixed-partitions";
				#address-cells = <1>;
				#size-cells = <1>;

				ubi_partition: partition@0 {
					label = "ubi-storage";
					reg = <0x00000000 DT_SIZE_K(256)>;
				};
			};
		};
	};
};
